@font-face {
	font-family: lora-regular;
	src: url('//mallmaverick.cdn.speedyrails.net/system/site_images/photos/000/022/387/original/Lora-Regular.ttf?1475696301');
}
@font-face {
	font-family: lora-regular;
	src: url('//mallmaverick.cdn.speedyrails.net/system/site_images/photos/000/022/385/original/Lora-Bold.ttf?1475696300');
	font-weight:bold;
}
#kipsu-content > #kipsu-chat-frame {
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    /*height: 480px;*/
    height: 620px;
    margin-top: 20px;
    overflow: hidden;
    position: fixed;
    right: 130px;
    bottom: 20px;
    width: 420px;
    z-index: 109;
}
#kipsu-content > #close-chat {
    border: none;
    position: fixed;
    height: 30px;
    width: 30px;
    background: #6e5660;
    z-index: 800;
    // bottom: 360px;
    bottom: 599px;
    // right: 218px;
    right: 136px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 10px 10px 0px 0px;
}
#kipsu-content > #open-chat {
    background: #6e5660;
    border: none;
    border-radius: 20px;
    color: #fff;
    position: fixed;
    /*height: 25px;*/
    height: 35px;
    /*width: 80px;*/
    width: 100px;
    z-index: 800;
    bottom: 10px;
    right: 10px;
    text-align: center;
    font-family: lora-regular;
    font-size: 16px;
    /*font-weight: bold;*/
}
#kipsu-content > #close-chat:hover,
#kipsu-content > #open-chat:hover {
    cursor: pointer;
}

@media (max-width: 425px){
    #kipsu-content > #kipsu-chat-frame {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        .widget.guest { 
            max-width: 100%;
            min-width: auto;
        
        }
    }
}